/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}
header {
  position: fixed; /* Fixes the header to the viewport */
  top: 0; /* Positions the header at the top of the viewport */
  left: 0; /* Positions the header at the left edge of the viewport */
  width: 100%; /* Ensures the header spans the full width of the viewport */
  background-color: #f1f1f1; /* Example background color */
  padding: 10px; /* Example padding */
  z-index: 999;
}
body {
  line-height: 1.5rem;
  height: 100vh;
  max-width: 660px;
  margin: auto;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main-header {
  display: flex;
  align-items: center;
  width: 100%;
}

#main-nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 75%;
  height: 50px;
}

#plans-main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

#contact-main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

#login-main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

#signup-main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

#nav-link-plans-page {
  text-align: left;
  width: 100%;
}

#plans-nav-link-home-box {
  width: 200px;
  text-align: center;
}

#contact-nav-link-home-box {
  width: 200px;
  text-align: center;
}

#login-nav-link-home-box {
  width: 200px;
  text-align: center;
}

#signup-nav-link-home-box {
  width: 200px;
  text-align: center;
}

#nav-link-home {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1.5px solid black;
}

#nav-link-plans-box {
  /* width: 50px; */
}

#nav-link-plans {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1.5px solid black;
}

#nav-link-contact-box {
  /* width: 50px; */
}

#nav-link-contact {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1.5px solid black;
}

#card {
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20%;
  align-items: center;
}

#card-quote {
  border-bottom: 1.5px solid black;
  margin-top: 1rem;
}

#plan-card-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#plan-card {
  width: 190px;
  height: 254px;
  background: #07182e;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

#plan-card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(
    180deg,
    rgb(240, 177, 41),
    rgb(252, 199, 222)
  );
  height: 130%;
  animation: rotBGimg 15s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#plan-card::after {
  content: '';
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}

#plan-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  border-bottom: 1.5px solid black;
  flex-direction: column-reverse;
}

#plan-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  border-bottom: 1.5px solid black;
  flex-direction: column-reverse;
}

#plan-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  border-bottom: 1.5px solid black;
  flex-direction: column-reverse;
}

#main-home-box-1 {
  width: 100%;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: start;
}

#woman-card {
  margin-top: 1.5rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#generated-woman-photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1.5px solid black;
}

#main-home-box-2 {
  width: 100%;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

#main-login-wrpper {
  display: flex;
  justify-content: space-around;
  width: 25%;
}

#main-login-box {
  text-align: center;
}

#main-login-link {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  border-bottom: 1.5px solid black;
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
}

#main-signup-box {
  text-align: center;
}

#main-signup-link {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  border-bottom: 1.5px solid black;
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
}

/* sections */
#main-home-section {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 0.75rem;
  border-top: 1.5px solid black;
}
