/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main-header {
  display: flex;
  align-items: center;
  width: 100%;
}

#main-nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

#nav-link-home-box {
  width: 50px;
}

#nav-link-home {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
}

#nav-link-plans-box {
  width: 50px;
}

#nav-link-plans {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
}

#nav-link-contact-box {
  width: 50px;
}

#nav-link-contact {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
}

#card {
  height: 300px;
  width: 250px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#main-home-section {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-home-box-1 {
  width: 100%;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  display: flex;
  justify-content: center;
}
#generated-woman-photo {
  width: 215px;
  height: 215px;
  border-radius: 50%;
}

#main-home-box-2 {
  width: 100%;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
}

#main-login-wrpper {
  display: flex;
  justify-content: space-around;
  width: 225px;
}

#main-login-box {
  text-align: center;
}

#main-login-link {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  border-bottom: 1.5px solid black;
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
}

#main-signup-box {
  text-align: center;
}

#main-signup-link {
  text-decoration: none;
  color: black;
  font-family: 'Fascinate Inline', system-ui;
  border-bottom: 1.5px solid black;
  font-size: 1.15rem;
  font-weight: 400;
  font-style: normal;
}

/* sections */
#main-home-section {
  border-bottom: 1px solid black;
}

/* footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 0.75rem;
}
